*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.background {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(assets/702099.jpg);
    background-size: cover;
    background-position: center;
    border-style: outset;
}

.testin {
    width: 85%;
    margin: auto;
    padding: 5px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo  {
    width: 100px;
    cursor: pointer;
}

.testin ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
    align-items: center;
    justify-content: center;
}
.testin ul li a{
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
}

.testin ul li::after{
    content: '';
    height: 3px;
    width: 0%;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.testin ul li:hover::after{
    width: 100%;
}

.content{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
}

.content h2{
    font-size: 100px;
    margin-top: 80px;
    color: gainsboro;
}

.content p{
    margin-top: 20px auto;
    font-weight: 100;
    line-height: 25px;
    font-size: x-large;
    color: gainsboro;
}

.glitch-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
 }
 
 .glitch {
    position: relative;
    font-size: 57px;
    font-weight: bold;
    color: #FFFFFF;
    letter-spacing: 3px;
    z-index: 1;
 }
 
 .glitch:before,
 .glitch:after {
    display: block;
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.8;
 }
 
 .glitch:before {
    animation: glitch-it 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both infinite;
    color: #00FFFF;
    z-index: -1;
 }
 
 .glitch:after {
    animation: glitch-it 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) reverse both infinite;
    color: #FF00FF;
    z-index: -2;
 }
 
 @keyframes glitch-it {
    0% {
       transform: translate(0);
    }
    20% {
       transform: translate(-2px, 2px);
    }
    40% {
       transform: translate(-2px, -2px);
    }
    60% {
       transform: translate(2px, 2px);
    }
    80% {
       transform: translate(2px, -2px);
    }
    to {
       transform: translate(0);
    }
 }


 
.synopsis-plot {
    width: 600px;
    height: auto;
    box-shadow: 10px 5px 5px gray;
    margin-left: 5%;
}

.synopsis-plot p{
    padding: 10px 50px 20px;
    padding-bottom: 10px;
}

.background-synopsis {
    display: flex;
    justify-content: flex-end;
}

.background-synopsis img {
    display: flex;
    width: 1200px;
    height: 1350px;
    padding-left: 25px;
    padding-right: 10px;
    padding-top: 15px;
    padding-bottom: 10px;
}

#id1{
    box-shadow: 10px 5px 5px gray;
    height: 600px;
    width: 300px;
    align-items: flex-end;
    display: inline-block;
}